<div class = "row">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/recipes/APIRecipeList">Recipes</a>
            </li>
         <li class="list-group-item">
            <a href="/recipes/APICuisineTypeList">Cuisines</a>
            </li>
    </ul>
</div>
