@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary; text-info"  >Our Family Recipes</h1>
    <br />
    <p class = " text-lg-center text-primary" >Looking for recipes for kids and adults to enjoy? Check out these delicious and easy recipes that are tried and true!</p>
</div>
<hr />
<br />
<img class="img-fluid rounded mx-auto d-block" src = "Images/38.jpg"   />

    
           

